*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #788bcc;
}
#card{
  background-color: azure;
  width: 350px;
  height: 400px;
  margin: 15vh 0 0 40vw;
  text-align: center;
  border-radius:  20px 20px;
  box-shadow: 1px 1px 1px 1px black;
}

.header-card{
  background-color: #3c96bd;
  height: 25vh;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 2px 2px white;
}
.profile{
  border-radius: 50%;
  width: 100px;
  height: 80px;
  margin-top: -70px;
  border: 5px solid white;
}
.card-body{
  padding: 20px;
}
h2{
  margin: 10px 0 10px;
  font-size: 1.5em;
  color: #7d3cbd;
}
h4{
  margin: 10px 0 20px;
  color: #7d3cbd;
  font-size: 1em;
}

p{
  color: #777;
  margin-bottom: 20px;

}
button{
  background-color: #7d3cbd;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
}
button:hover{
  color: #431f66;
}


