/* home */

.home-container {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
  }

  
  /* about */
  .about-container {
    text-align: center;
    padding: 50px;
    background-color: #e3f2fd;
  }
  
  h1 {
    color: #0277bd;
  }
  
  p {
    color: #01579b;
  }
  
/* login */

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  